<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
		<add name="AhorcadoDB"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Trusted_Connection=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="DuplexBinding"
						 closeTimeout="00:00:10"
						 openTimeout="00:00:10"
						 receiveTimeout="00:00:10"
						 sendTimeout="00:00:10"
						 maxReceivedMessageSize="65536">
					<reliableSession ordered="true" inactivityTimeout="00:10:00" />
				</binding>
			</wsDualHttpBinding>
		</bindings>

		<client>
			<endpoint name="AhorcadoEndpoint"
					  address="http://localhost:8080/AhorcadoService/"
					  binding="wsDualHttpBinding"
					  bindingConfiguration="DuplexBinding"
					  contract="ServidorAhorcadoService.IAhorcadoService" />
		</client>
	</system.serviceModel>
</configuration>
