<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
     <add name="AhorcadoDB" connectionString="Data Source=localhost\SQLEXPRESS04;Initial Catalog=JuegoAhorcado;Trusted_Connection=True"
         providerName="System.Data.SqlClient" />
     <add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString"
         connectionString="Data Source=HONEYBUNNY\SQLEXPRESS04;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>

	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="DuplexBinding"
       closeTimeout="00:01:00"
       openTimeout="00:01:00"
       receiveTimeout="00:10:00"
       sendTimeout="00:01:00"
       maxReceivedMessageSize="65536">
					<reliableSession enabled="true" />
				</binding>
			</wsDualHttpBinding>
		</bindings>

		<client>
			<endpoint name="AhorcadoEndpoint"
       address="http://localhost:8080/AhorcadoService/"
       binding="wsDualHttpBinding"
       bindingConfiguration="DuplexBinding"
       contract="ServidorAhorcadoService.IAhorcadoService" />
		</client>
	</system.serviceModel>
</configuration>
