<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="DuplexBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 maxReceivedMessageSize="65536">
          <reliableSession enabled="true" />
        </binding>
      </wsDualHttpBinding>
    </bindings>

    <services>
      <service name="AhorcadoServidor.AhorcadoService">
        <endpoint address=""
                  binding="wsDualHttpBinding"
                  bindingConfiguration="DuplexBinding"
                  contract="AhorcadoServidor.IAhorcadoService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/AhorcadoService/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <client>
      <endpoint name="AhorcadoEndpoint"
                address="http://localhost:8080/AhorcadoService/"
                binding="wsDualHttpBinding"
                bindingConfiguration="DuplexBinding"
                contract="IAhorcadoService" />
    </client>
	  <connectionStrings>
		  <add name="AhorcadoDB"
			   connectionString="Data Source=localhost\SQLEXPRESS01;Initial Catalog=AhorcadoDB;Integrated Security=True"
			   providerName="System.Data.SqlClient" />
	  </connectionStrings>

	  <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
