<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Entity Framework section -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- Connection string for your database -->
	<connectionStrings>
		<!-- <add name="ServidorAhorcadoService.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=HONEYBUNNY\SQLEXPRESS04;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" /> -->

		<add name="AhorcadoDB"
			connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			providerName="System.Data.SqlClient" />
		<add name="ServidorAhorcadoService.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Entity Framework provider -->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<!-- WCF configuration -->
	<system.serviceModel>
		<services>
			<service name="ServidorAhorcadoService.AhorcadoService"
						behaviorConfiguration="AhorcadoServiceBehavior">
				<endpoint address=""
						  binding="wsDualHttpBinding"
						  contract="ServidorAhorcadoService.IAhorcadoService" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/AhorcadoService" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="AhorcadoServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

	<!-- Make sure binding redirects are set (if necessary) -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework"
								  publicKeyToken="b77a5c561934e089"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0"
								 newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
